<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <add key="sqlScriptDirectory" value="C:\Users\andrewt\Desktop\sql\scripts"  />
    <!--LOCAL-->
    <add key="connectionString" value="Data Source=<myDbServerName>;Initial Catalog=<database-name>;Integrated Security=True;MultipleActiveResultSets=True"  />
  </appSettings>

  </configuration>
